.jumbotron{
    padding: 70px 30px;
    margin: 0px auto;
    background: #9575cd;
    color: floralwhite;
}

.row-header{
    margin: 0px auto;
    padding: 0px auto;
}

.row-content{
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
    align-items: center;
}

.footer{
    background-color: rgb(211, 229, 230);
    margin: 0px auto;
    color: #384f8f;
    padding: 20px;

}

.address{
    font-size: 80%;
    margin: 0px;
}